/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
	width: 960px;
	margin: auto;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/





header{
  height: 100px;
  width: 100%;
  background: blue;
  color: white;
  text-align: center;
  padding-top: 20px;
  border: 5px solid gold;
}

.main{
  width: 90%;
  height: 400px;
  border: 1px solid black;
  float: left;

}
.main > section{
  width: 33%;
  border: 1px solid blue;
  height: 100%;
  float: left;
}
.main > section > img{
  float: left;
  width: 100%;
  height: 100%;
}
.money{
  width: 30%;
  float: left;
}
.button{
  width: 70%;
  float: left;
}
button{
  background: blue;
  color: gold;
  padding: 30px;
  font-size: 16px;
  margin-left: 50px;
  border: 2px solid gold;
}
span, button{
  font-weight: bold;
}
